<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ url_for('.static', filename='style/style.css') }}" type="text/css" media="screen, projection">
    <title>Concurso de videojuegos!</title>
</head>

<body>

<div id='container'>

    <div id='titulo'>
    <img src='{{ url_for('.static', filename='logo.png') }}'>
        <h1>¡Primer concurso de juegos!</h1>
        <h4>Organizado por la comunidad <a href='http://www.losersjuegos.com.ar'>losersjuegos</a></h4>
        <br style='clear: both'/>
    </div>

<div id='content'>
        
<h1>¿En que consiste?</h1>

<p>Este concurso es un invitación a todos los desarrolladores
de juegos con ganas de mostrar su talento haciendo juegos.

<p style='text-align: center'>
  <img src='{{ url_for('.static', filename='ejemplo.jpg') }}'>

<p>El concurso es abierto a toda la comunidad, todos pueden participar,
y la temática es libre con la intensión de que todos
puedan liberar su imaginación y hacer el mejor juego del mundo!

<h2>Categorías y limitaciones</h2>

<p>Para evaluar las presentaciones, hemos creado 3 categorías:

<ul>
    <li>El juego mas divertido.</li>
    <li>Mejor pulido (gráficos, sonidos, documentación, código).</h1>
    <li>El mas original.</h1>
    <li>El mayor mérito.</h1>
</ul>

<p>Todos los aspectos del juego son importantes, pero aquí nos
concentraremos en destacar solamente esos.

<p>Podés usar imágenes propias, imagenes
de <a href='http://opengameart.org/'>gameart</a>, o cualquiera que
encuentres en <a href='http://www.losersjuegos.com.ar'>losersjuegos</a>
o <a href='http://www.pilas-engine.com.ar'>pilas-engine</a>. Incluso
está permitido usar cualquier tecnología para realizar el juego (pygame, pilas,
SDL, SFML, Java, Cocos2d, DirectX etc...)

<p>La única regla, es que el juego se publique junto a su código
fuente y exista documentación o un relato de programador (contando
la idea del proyecto y algo para enseñar a otros).


<h2>¿Cómo participar?</h2>

<p>Solamente incribe tu dirección de correo en la casilla de abajo
y coloca el nombre del juego o de tu equipo.

<form style='margin: 1em; padding:1em; border: 1px dashed green;'>
    email <input disabled><p>
    juego <input disabled><p>
    <button disabled>Incribirme!</button>
</form>

<p style='background-color: yellow; color: gray'>Nota: el formulario esá
deshabilitado porque aún no hemos comenzado...


<p>Puedes incribir tantos juegos como quieras, y si trabajas
en equipo, alcanza con poner la dirección de correo de un
representante o lider del equipo.

<p>Cuanto termines la inscripción, recibirás un correo
con la confirmación del equipo e instrucciones. Y se publicará
periódicamente una lista de los proyectos presentados.

<h2>¿Mas preguntas?</h2>

<p>Cualquier duda o sugerencia, podés escribir un mensaje
en el <a href='http://www.losersjuegos.com.ar/foro/viewtopic.php?f=1&t=1264'>foro de losersjuegos</a> y te vamos a contestar lo antes posible.


</div>

    <div id='footer'>
    :)
    </div>

</div>

</body>
</html>

